@(form: Form[Sample])(implicit flash: Flash, request: RequestHeader)

@main("Edit") {

@if(form.hasGlobalErrors) {
@form.globalErrors.map { error: FormError =>
<div>
  @error.key: @error.message
</div>
}
}
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

<html>
<head>
  <style>
        h1 { font: 50px Times New Roman; }
         * { font: 20px Times New Roman; }
        }
      </style>
</head>
<body>
<form action=" " method="GET">
  <h1>Edit Your Information</h1>
  <fieldset>
    <legend>Personal information:</legend>
    <p>Full Name:<br><input type="text" id="fullName" name="fullName" size="30"></p>
    <p>EMP Code:<br><input type="text" id="empCode" name="empCode" size="10"></p>
    <p>Salary:<br><input type="text" id="salary" name="salary" size="15"></p>
    <p>City:<br><input type="text" id="city" name="city" size="50"></p>
    <button type="update" value="Update">Comfirm</button>
  </fieldset>
</form>
</body>
</html>