@(samples:Seq[Sample])(implicit flash: Flash, request: RequestHeader)

@main("Samples") {
<head>
  <style>
        h1 { font: 50px Times New Roman; }
         * { font: 20px Times New Roman; }
        table { width: 70%; }
        table, th, td { border: solid 1px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center;
        }
      </style>
</head>
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}
<h1>Employees Information</h1>

<table>
  <thead>
  <tr><th>Full Name</th><th>Emp Code</th><th>Salary</th><th>City</th><th>Action</th></tr>
  </thead>
  <tbody>
  @for(s <- samples) {
  <tr><td>@s.fullName</td><td>@s.empCode</td><td>@s.salary</td><td>@s.city</td><td><a href = "@routes.HomeController.edit(s.empCode)"><button type = "reset" value = "Reset">Edit</button></a>     <a href = "@routes.HomeController.delete(s.empCode)"><button type = "remove" value = "Remove">Delete</button></a></td></tr>
  }
  </tbody>
</table>

<br><a href ="@routes.HomeController.createSample"><button>Create Sample</button></a>
}