@()

@main("List") {
<html>
<head>
    <style>
        h1 { font: 50px Times New Roman; }
         * { font: 20px Times New Roman; }
        table { width: 70%; }
        table, th, td { border: solid 1px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center;
        }
      </style>
</head>

<body>
<h1>Lists of Users Information</h1>
<li><a href = "@routes.HomeController.list()" style="text-decoration:none">All Users</a></li>
<li><a href = "@routes.HomeController.index()" style="text-decoration:none">Create User</a></li>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Action</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" id="edit_Button" onclick="edit_row">Edit</button>
            <button type="button" onclick="delete">Delete</button></td>
    </tr>
</table>
</body>
</html>
}